@import "./style/colors.sass"
@import "./style/layout.sass"
@import "./style/elements.sass"

@font-face
  font-family: ubuntuL
  src: url(/Ubuntu-L.ttf)

@font-face
  font-family: ubuntuR
  src: url(/Ubuntu-R.ttf)

@font-face
  font-family: ubuntuMono
  src: url(/UbuntuMono-R.ttf)



body
  font-family: ubuntuL